{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Task Management</title>
    <link rel="stylesheet" type="text/css" href={% static 'css/main.css' %}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
{% include 'accounts/navbar.html' %}
{% block content %}
    <br>
<p>"Welcome Ekanth!"</p>
{% endblock %}
<hr>
<h5>Footer</h5>
</body>
</html>